body{
    background-color: black;
}

section{
    background-color: black;
}

h1, h2, h3, h4, h5, h6{
    color: white;
}

#simulationBox {
    width: 1920px;
    height: 1080px;
    border: 1px solid white;
}

canvas{
    background-color: black;
    border: 1px solid white;
}

ctx{
    border: 1px solid white;
}